html{
    scroll-behavior: smooth;
}

body{
    background-color:#299F9F;
    line-height: 1.6;
    font-family: 'Poppins';
}

.card{
	background-color:#FFF5ED; 
}
.start{
	color: #62C1C5;
	font-weight: bold;
	font-size: 6.78vh;
}
.name{
	color: #F29689;
	font-weight: bold;
	font-size: 9.54vh;
}
