{% extends 'base.html' %}
{% load static %}

{% block title %}ferdinand's page{% endblock title %}

{% block content %}

<div id="content"> 
  <div class="card">
    <br>
    <br>
    <br>
    <div class="d-flex justify-content-center">
      <p class="start">Hello there, i am</p>
      <p class="name">Ferdinand Hanif</p>
    </div>
  </div>
</div>

{% endblock content %}
{% block custom_scripts %}
{% endblock custom_scripts %}

